.gallery .gallery-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .gallery-items .item {
	width: 360px;
	height: auto;
	margin: 10px;
	border-radius: 11px;
	background-color: #cce1f7;
	overflow: hidden;
	border: 4px solid #1AB69D;
	text-align: center;
	position: relative;
}
.gallery .gallery-items .item.hide {
	display: none;
}

.gallery .gallery-items .item.show {
	display: block;
	animation: show .5s ease;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: scale((1));
	}
}

.gallery .gallery-items .item .img {
	height: 260px;
	width: 360px;
	overflow: hidden;
}

.gallery .gallery-items .item img {
	width: 100%;
	height: 100%;
	border-radius: 11px;
	transition: all 0.5s;
}

.gallery .gallery-items .item p {
	text-transform: uppercase;
	color: white;
	position: absolute;
	height: 0%;
	width: 100%;
	bottom: -16%;
	left: 0;
	right: 0;
	background: linear-gradient(rgba(5, 5, 5, 0.7), rgba(0, 0, 0, 0.7));
	transition: all 0.7s;
	font-weight: bold;
}

.gallery .gallery-items .item:hover img {
	transform: scale(1.2);
}

.gallery .gallery-items .item:hover p {
	height: 110%;
	padding: 50% 0;
}

/*.gallery .gallery-items .item:hover img{*/
/*    transform: rotate(-15deg) scale(1.2);*/
/*}*/
.pagination {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

.pagination div {
	display: inline-block;
	color: gray;
	margin: 0px 10px;
}

.pagination .prev,
.pagination .next {
	color: black;
	border: 1px solid black;
	font-size: 16px;
	padding: 4px 20px;
	transition: all 0.4s;
	cursor: pointer;
}

.pagination .prev.disabled,
.pagination .next.disabled {
	border-color: gray;
	color: gray;
	pointer-events: none;
}

/* ---------------------------------------
#course-content section start
------------------------------------------ */
.course-content{
    font-family: "Poppins", serif;
    font-size: 15px;
}
/* ---------------------------------------
#course-content section end
------------------------------------------ */
